<div class="container">
<div class="leader-header">
    <h3>Leaderboards</h3>
</div>
<div class="leader-body"> 
    <table>
        <tr>
            <th>
                <p><b>Rank</b></p>
            </th>
            <th>
                <p><b>Name</b></p>
            </th>
            <th>
                <p><b>Points</b></p>
            </th>
        </tr>
        <tr>
            <td>
                <p>1</p>
            </td>
            <td>
                <p>Albert</p>
            </td>
            <td>
                <p>298423</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>2</p>
            </td>
            <td>
                <p>Jan</p>
            </td>
            <td>
                <p>86534</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>3</p>
            </td>
            <td>
                <p>Henk</p>
            </td>
            <td>
                <p>43123</p>
            </td>
        </tr>
    </table>
</div>
</div>