table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

.headDiv {
  height:80px;
  background-color: white;
  width:100%;
  display: block!important;
}

.headName {
  position: relative;
  top:8px;
}

.headName a {
  font-size:60px;
  font-family: 'Odibee Sans', cursive;
  color:black;
}

.headName a:hover {
  text-decoration: none;
}

.navbar {
  position: relative;
  float: right !important;
  top:20px;
}

.nav-item {
  padding: 5px 15px 5px 15px;
  border: solid;
  border-color: black;
  border-radius: 3px;
  background-color: #39b54a;
  color:white!important;
  margin-right:5px;
  margin-left:5px;
  width: 120px;
  text-align: center;
  font-size:14px;
}

.nav-item:hover {
  padding: 5px 15px 5px 15px;
  border: solid;
  border-color: black;
  border-radius: 3px;
  background-color: #39b54a;
  color:yellow!important;
}

.navMenuButton {
  padding: 5px 15px 5px 15px;
  border: solid;
  border-color: black;
  border-radius: 3px;
  background-color: #39b54a;
  color:white!important;
  margin-right:5px;
  margin-left:5px;
  width: 120px;
  text-align: center;
  font-size:14px;
}

.navMenuButton:hover {
  color:yellow!important;
}

@media screen and (max-width: 991px) {
  .headName a {
    font-size:35px;
  }

  .navbar {
    position: relative;
    float: right !important;
    top:10px;
  }

  .nav-item {
    padding: 5px 15px 5px 15px;
    border: solid;
    border-color: black;
    border-radius: 3px;
    background-color: #39b54a;
    color:white!important;
    margin-right:5px;
    margin-left:5px;
    width: 80px;
    text-align: center;
    font-size:14px;
  }
}

@media screen and (max-width: 424px) {
  .nav-item {
    padding: 5px 15px 5px 8px;
    border: solid;
    border-color: black;
    border-radius: 3px;
    background-color: #39b54a;
    color:white!important;
    margin-right:2px;
    margin-left:2px;
    width: 60px;
    text-align: center;
    font-size:10px;
    font-weight: bold;
  }
}