<!DOCTYPE html>
<html lang="nl">

<head>
  <meta charset="utf-8" />
  <title>Walk Game</title>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="Memory_src.js"></script>
  <script src="jscolor.min.js"></script>
  <link rel="manifest" href="manifest.webmanifest">
  <meta name="theme-color" content="#1976d2">

</head>

<body>
  <!-- nav -->
  <div class="headDiv">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="headName">
            <a routerLink="/home">Walk Game</a>
          </div>
        </div>
        <div class="col">
          <nav class="navbar navbar-expand-sm">
            <div class="navbar-nav" *ngIf="!_authService.loggedIn()">
              <div class="row">
                <a class="nav-item" routerLink="/login">Login</a>
                <a class="nav-item" routerLink="/register">Register</a>
              </div>
            </div>

            <div ngbDropdown class="d-inline-block" *ngIf="_authService.loggedIn()">
              <button class="navMenuButton" id="dropdownMenu" ngbDropdownToggle>Menu</button>
              <div ngbDropdownMenu aria-labelledby="dropdownMenu">
                <button ngbDropdownItem routerLink="/home">Home</button>
                <button ngbDropdownItem routerLink="/leaderboards">Leaderboards</button>
                <button ngbDropdownItem routerLink="/character">Character</button>
                <button ngbDropdownItem routerLink="/quest">Quests</button>
                <button ngbDropdownItem routerLink="/shop">Shop</button>
                <button ngbDropdownItem (click)="_authService.logoutUser()">Logout</button>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <!-- main app container -->
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</body>

</html>
