<!DOCTYPE html>
<html lang="nl">
<head>
<meta charset="utf-8"/>
<title>Javascript memory</title>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="Memory_src.js"></script>
<script src="jscolor.min.js"></script>

</head>
<body>
<header>
  <!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="navbar-nav" *ngIf="!currentUser">
      <a class="nav-item nav-link" (click)="logout()">Login</a>
  </div>

  <div class="navbar-nav" *ngIf="currentUser">
    <a class="nav-item nav-link" (click)="logout()" >Logout</a>
    <a class="nav-item nav-link" routerLink="/home" >Home</a>
    <a class="nav-item nav-link" routerLink="/" >Welcome</a>
    <a class="nav-item nav-link" routerLink="/quest">Quest</a>
  </div>
</nav>
<!-- main app container -->
<div class="container">
  <router-outlet></router-outlet>
</div>

</header>

</body>
</html>
