<!DOCTYPE html>
<html lang="nl">

<head>
  <meta charset="utf-8" />
  <title> Walkapp </title>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="Memory_src.js"></script>
  <script src="jscolor.min.js"></script>

</head>

<body>
  <header>
    <div class="container">
    <!-- nav -->
    <nav class="navbar navbar-nav navbar-expand-lg navbar-dark bg-dark md-auto">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">  
            <li class="nav-item">
              <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/welcome" routerLinkActive="active">Welcome</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/quest" routerLinkActive="active" *ngIf="_authService.loggedIn()">Quest</a>
            </li>
          </ul>
          <ul class="navbar-nav">
            <a class="nav-link" *ngIf="!_authService.loggedIn()" routerLink="/register" routerLinkActive="active">Register</a>
            <a class="nav-link" *ngIf="!_authService.loggedIn()" routerLink="/login" routerLinkActive="active">Login</a>
            <a class="nav-link" style="cursor: pointer" *ngIf="_authService.loggedIn()" (click)="_authService.logoutUser()">Logout</a>
          </ul>
        </div>
    </nav>
    </div>


    <!-- main app container -->
    <div class="container">
      <router-outlet></router-outlet>
    </div>

  </header>

</body>

</html>
