<link rel="manifest" href="manifest.webmanifest">
<meta name="theme-color" content="#1976d2">
<div class="container">
  <div class=quest-header>
    <h3>Quest</h3>
  </div>
  <div class="quest-body">
  <form class="form"method="POST" action="/markers">
    <div class="form-group">
      <label for="">Quest name</label>
      <input [(ngModel)]="questmarker.name" type="text" #name name="name" #bescrijving class="form-control" id="forminput1" placeholder="Name">
    </div>
    <div class="form-group">
      <label for="">Quest description</label>
      <input [(ngModel)]="questmarker.description "type="text" name="description" #description class="form-control" id="forminput3" placeholder="Description">
    </div>
    <div class="form-group">
      <label for="fromselect">Level</label>
      <select class="form-control" id="fromselect1" (change)="selectChangeHandler($event)">
        <option  value="4000">1</option>
        <option  value="8000">2</option>
        <option  value="12000">3</option>
        <option  value="16000">4</option>
        <option  value="20000">5</option>
      </select>
    </div>
    <button type="submit"  (click)="CurrentLocation($event)" (click)="getQuestName(name.value)" (click)="getQuestDescription(description.value)" class="btn btn-primary">Submit</button>
    <button type="submit" (click)="refreshMarkers()"></button>
  </form>
  <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">


    <ng-container *ngFor="let m of markers; let i = index">

        <agm-marker [latitude]="m.lat" [longitude]="m.lng" [label]="m.label" [iconUrl]="m.icon" *ngIf="m.isShown">

            <agm-info-window>
                <div><h1 style="font-size: 100%;">{{m.content}}</h1></div>
            </agm-info-window>

        </agm-marker>

    </ng-container>

    <ng-container *ngFor="let m of Locationmarkers; let i = index">

      <agm-marker (markerClick)="clickedMarker(m.label, i)"  [latitude]="m.lat" [longitude]="m.lng" [label]="m.label" [iconUrl]="m.icon" *ngIf="m.isShown">

          <agm-info-window>
              <div><h1 style="font-size: 100%;">{{name.value}}</h1></div>
              <div>{{description.value}}</div>
              <button type="submit" (click)="removeQuestMarker(i)" >remove</button>
          </agm-info-window>

      </agm-marker>

  </ng-container>

    <agm-circle [latitude]="radiusLat" [longitude]="radiusLong" [radius]="radius"
        [circleDraggable]="false" [editable]="false" (dragEnd)="radiusDragEnd($event)"
        (radiusChange)="event('radiusChange',$event)">
    </agm-circle>

</agm-map>
</div>

