<link rel="manifest" href="manifest.webmanifest">
<meta name="theme-color" content="#1976d2">
<link href="//netdna.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" />
<body>
    <div class="container">
        <div class="welcomeDiv">
            <div class="welcomeTextDiv">
                <h2>Welcome!</h2>
                <p>To make use of our amazing game, please consider creating an account by clicking the register button
                    on the top right side.</p>
                <p>Already have an account? Please use the login button.</p>
            </div>
        </div>
    </div>
</body>