@font-face {
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    src: local('Pacifico Regular'), local('Pacifico-Regular'), url(https://fonts.gstatic.com/s/pacifico/v12/FwZY7-Qmy14u9lezJ-6H6MmBp0u-.woff2) format('woff2');
    font-display: swap;
  }
a { cursor: pointer }

body {
    margin: 0;
    padding: 0;
}

.btn {
    border-color: black;
    border-width: 3px;
    background-color: #39b54a;
    color:white;
}

.btn:disabled, .btn:disabled:hover {
    border-color: black!important;
    border-width: 3px!important;
    background-color: grey!important;
    color:white!important;
}

.btn:hover {
    color:yellow!important;
    border-color: black!important;
    border-width: 3px!important;
    background-color: #39b54a!important;
    outline: none!important;
}

.btn:active, .btn:focus {
    border-color: black!important;
    border-width: 3px!important;
    background-color: #39b54a!important;
    color:white!important;
    outline: none!important;
    box-shadow: unset!important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
