.home-header {
    border: solid;
    border-radius: 3px;
    border-width: 2px;
    background-color: gainsboro;
    padding:20px;
    margin: 0 auto!important;
    width:50%;
    top:50px;
    position: relative;
}